
.idea/.name
.idea/deployment.xml
.idea/MCQ_Manager.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
server/cmake-build-debug/*
*.internal
*.make
*.o
*.internal
*.includecache
server/cmake-build-debug/server
server/cmake-build-debug/CMakeFiles/server.dir/depend.make
