
.idea/.name
.idea/deployment.xml
.idea/MCQ_Manager.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
server/cmake-build-debug/CMakeFiles/Progress/2
server/cmake-build-debug/CMakeFiles/Progress/3
server/cmake-build-debug/CMakeFiles/Progress/count.txt
server/cmake-build-debug/CMakeFiles/server.dir/src/HelloHandler.cpp.o
server/cmake-build-debug/CMakeFiles/server.dir/src/main.cpp.o
