
.idea/.name
.idea/deployment.xml
.idea/MCQ_Manager.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
server/cmake-build-debug/CMakeFiles/Progress/2
server/cmake-build-debug/CMakeFiles/Progress/3
server/cmake-build-debug/CMakeFiles/Progress/count.txt
server/cmake-build-debug/CMakeFiles/server.dir/src/HelloHandler.cpp.o
server/cmake-build-debug/CMakeFiles/server.dir/src/main.cpp.o
server/cmake-build-debug/CMakeFiles/Makefile2
server/cmake-build-debug/CMakeFiles/progress.marks
server/cmake-build-debug/CMakeFiles/server.dir/build.make
server/cmake-build-debug/CMakeFiles/server.dir/cmake_clean.cmake
server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
server/cmake-build-debug/CMakeFiles/server.dir/link.txt
server/cmake-build-debug/CMakeFiles/server.dir/progress.make
server/cmake-build-debug/CMakeFiles/server.dir/src/Database.cpp.o
server/cmake-build-debug/CMakeFiles/server.dir/src/HelloHandler.cpp.o
server/cmake-build-debug/CMakeFiles/server.dir/src/main.cpp.o
server/cmake-build-debug/Makefile
server/cmake-build-debug/server
server/cmake-build-debug/server.cbp
